:host {
  display: grid;
  grid-template-areas: "aside header" "aside page";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
}

.aside {
  grid-area: aside;
}

.header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.page {
  grid-area: page;
}