.header__wrapper {
  padding: 10px 20px;
}
.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.nav-header__item {
  font-size: 20px;
  cursor: pointer;
}

:host {
  width: 100%;
}
:host .mat-badge-medium.mat-badge-overlap .mat-badge-content {
  margin: -12px 0 -12px 0;
}