:host .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  width: 200px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  padding: 15px;
  background-color: rgb(225, 224, 224);
}
:host .block__image {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  cursor: pointer;
}
:host .block__image > img {
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
  aspect-ratio: 200/270;
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  :host .block__image > img:hover {
    -webkit-transition: -webkit-transform ease 0.3s;
    transition: -webkit-transform ease 0.3s;
    transition: transform ease 0.3s;
    transition: transform ease 0.3s, -webkit-transform ease 0.3s;
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }
}
:host .top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
:host .top-block mat-icon {
  margin: 0;
}
:host .top-block__title {
  font-weight: 700;
}
:host .top-block__menu {
  padding: 5px !important;
  margin: 0 !important;
  min-width: 0 !important;
  height: auto !important;
}
:host .info-block {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}
:host .info-block__button-see-info {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
}
:host .info-block__date {
  text-align: center;
}
:host .info-block__info-text {
  text-align: center;
  font-size: 12px;
}