@charset "UTF-8";
.example-card {
  max-width: 200px;
  background-color: rgb(224, 224, 224);
}

mat-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  height: 70px;
  overflow: hidden;
}

mat-card-title {
  font-size: 14px;
  font-weight: 700;
}

img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.date {
  margin-bottom: 15px;
  font-size: 15px;
}

mat-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; /* щоб всі зайняли максимальну висоту в рядку */
}

mat-card-content {
  font-size: 12px;
}

.mdc-button {
  min-width: auto;
  margin-right: -15px;
}

.mat-mdc-button > .mat-icon {
  margin: 0;
}