<div class="aside__wrapper">
  <a routerLink="movieList" class="aside__logo logo-aside">
    <div class="logo-aside__image"><img src="assets/images/movie-logo.svg" alt=""></div>
    <div class="logo-aside__text">MOVIE</div>
  </a>
  <ul class="aside__list">
    <li routerLink="notPlaing" class="aside__item">Not plaing</li>
    <li routerLink="popular" class="aside__item">Popular</li>
    <li routerLink="topRate" class="aside__item">Top Rate</li>
    <li routerLink="upcoming" class="aside__item">Upcoming</li>

  </ul>
</div>