.header {
  // .header__wrapper

  &__wrapper {
    padding: 10px 20px;
  }

  // .header__row

  &__row {
  }

  // .header__nav

  &__nav {
  }
}
.nav-header {
  // .nav-header__list

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  // .nav-header__item

  &__item {
    font-size: 20px;
    cursor: pointer;
  }
}
:host {
  width: 100%;
  .mat-badge-medium.mat-badge-overlap .mat-badge-content {
    margin: -12px 0 -12px 0;
  }
}
