<div class="header__wrapper">
  <div class="header__row">
    <nav class="header__nav nav-header">
      <ul class="nav-header__list">
        <li class="nav-header__item">
          <a [routerLink]="[{ outlets: { rout2: ['favorite'] } }]" [matBadge]="favoriteListIds.length"
            class="demo-section">My
            favorites</a>
        </li>
        <li class="nav-header__item">
          <a [routerLink]="[{ outlets: { rout2: ['watch-list'] } }]" [matBadge]="watchListIds.length"
            class="demo-section">WatchList
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>