<div class="block">

  <div class="block__top top-block">
    <h4 class="top-block__title">{{movie.title | transformLenght:25}}</h4>
    <ng-content>
      <button class="top-block__menu" matButton [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addToFavorite(movie)">add to favorite</button>
        <button mat-menu-item (click)="addToWatchList(movie)">add to watchList</button>
      </mat-menu>

    </ng-content>
  </div>

  <a [routerLink]="['/movieCard']" (click)="routeToMovie(movie)">
    <div class="block__image">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title">
    </div>
  </a>
  <div class="block__info info-block">
    <button class="info-block__button-see-info" (click)="isVisibleInfo=!isVisibleInfo"
      [style.backgroundColor]="isVisibleInfo ? 'rgb(154, 126, 126)' : 'rgb(145, 140, 140)'">
      {{ isVisibleInfo ? 'скрити опис':'показати опис' }}
    </button>
    @if (isVisibleInfo) {

    <div class="info-block__date">дата випуску: {{movie.release_date}}</div>
    <p class="info-block__info-text">
      {{movie.overview | transformLenght:100}}
    </p>
    }
  </div>
</div>