:host {
  .block {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 200px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    padding: 15px;
    background-color: rgb(225, 224, 224);
    // .block__top

    &__top {
    }

    // .block__image

    &__image {
      margin-left: -15px;
      margin-right: -15px;
      overflow: hidden;
      cursor: pointer;
      & > img {
        transition: transform ease 0.3s;
        aspect-ratio: 200/270;
        width: 100%;
        height: 100%;
        @media (any-hover: hover) {
          &:hover {
            transition: transform ease 0.3s;

            transform: scale(1.01);
          }
        }
      }
    }

    // .block__info

    &__info {
    }
  }
  .top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    mat-icon {
      margin: 0;
    }
    // .top-block__title

    &__title {
      font-weight: 700;
    }

    //.top-block__menu
    &__menu {
      padding: 5px !important;
      margin: 0 !important;
      min-width: 0 !important;
      height: auto !important;
    }
  }
  .info-block {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    // .info-block__button-see-info

    &__button-see-info {
      align-self: center;
      padding: 10px 15px;
      border-radius: 20px;
      text-align: center;
    }

    // .info-block__date

    &__date {
      text-align: center;
    }

    // .info-block__info-text

    &__info-text {
      text-align: center;
      font-size: 12px;
    }
  }
}
