<div class="block">
  <div class="block__top top-block">
    <h4 class="top-block__title">{{movie.title | transformLenght}}</h4>
    <button class="top-block__menu" matButton [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addToFavorite(movie.id)">add to favorite</button>
      <button mat-menu-item (click)="addToWatchList(movie.id)">add to watchList</button>
    </mat-menu>
  </div>

  <a [routerLink]="['/movieCard', movie.id]">
    <div class="block__image">
      <img [src]="movie.poster" [alt]="movie.title">
    </div>
  </a>
  <div class="block__info info-block">
    <button class="info-block__button-see-info" (click)="isVisibleInfo=!isVisibleInfo"
      [style.backgroundColor]="isVisibleInfo ? 'rgb(154, 126, 126)' : 'rgb(145, 140, 140)'">
      {{ isVisibleInfo ? 'скрити опис':'показати опис' }}
    </button>
    @if (isVisibleInfo) {

    <div class="info-block__date">дата випуску: {{movie.year}}</div>
    <p class="info-block__info-text">
      {{movie.description}}
    </p>
    }
  </div>
</div>