:host {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside page';
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  margin: 0 auto;
}
.aside {
  grid-area: aside;
}
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 50px;
}
.page {
  grid-area: page;
}
